@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 255, 255, 255;
    --background-end-rgb: 255, 255, 255;
  }
}

.ant-table-filter-dropdown-btns .ant-btn-primary {
  background-color: #1890ff; /* Ant Design default primary color */
  border-color: #1890ff;
}

.ant-table-filter-dropdown-btns .ant-btn-primary:hover,
.ant-table-filter-dropdown-btns .ant-btn-primary:focus {
  background-color: #40a9ff;
  border-color: #40a9ff;
}


body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
